@import "bootstrap/bootstrap.less";

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

h1.brand {
	padding-bottom: 30px;
	text-decoration: underline;
}

div.entry {
	padding-bottom: 20px;
}

body, p {
	font: 1em 'Bitter', Georgia, 'Times New Roman', Times, serif;
}


/* ===== Primary Styles ========================================================
   Author: frio
   ========================================================================== */











